<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detahes Entradas/Saídas</h4>
            <table class="table" *ngIf="ticketList.length">
              <thead  class="thead-dark">
                <tr>
                  <th scope="col">Descrição</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ticketList | entrada">
                  <td>{{ item?.description }}</td>
                  <td>{{ item?.price }}</td>
                  <td>
                    <span class="badge" [ngClass]="{
                      'badge-success': item?.type === entrada,
                      'badge-danger': item?.type === saida
                      }">{{ item.type }}</span>
                  </td>
                  <td>
                    <button (click)="remover(item?.uid)" class="btn btn-danger mr-2">
                      <i class="fas fa-trash"></i>
                      Remover
                    </button>
                    <button (click)="edit(item?.uid)" class="btn btn-warning">
                      <i class="fas fa-edit"></i>
                      Editar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="alert alert-primary" role="alert" *ngIf="!!ticketList.length">
              <div class="text-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>

            <div class="alert alert-primary" role="alert" *ngIf="!ticketList.length">
              <div class="text-center">
                <span>Não há registros disponiveis</span>
              </div>
            </div>

          </div>
        </div>
    </div>
</div>
  